
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}


#paging {
	margin: 0;
	padding: 0;
	style-type: none;
	width: 100%;
	position: relative;
	left: 0;
}

#paging section {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 100px;
}
#paging section > .container {
	position: relative;
	width: 100%;
	height: 100%;
}
#paging section > .container > div {
	width: 100%;
	height: 100%;
	position: absolute;
}
#paging section > .container .room {
	left: 100%;
}
#paging section:after {
	content: '';
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: -100px;
	background-color: #fff;
}
body > .container {
	width: 100%;
	height: 100%;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 70px;
	height: 100%;
	z-index: 500;
	background: white;
}
.nav #elevator {
	background-color: #fff;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 200px;
	z-index: 50;
}
.nav #elevator_bg {
	position: absolute;
	height: 100%;
	width: 50px;
	top: 36px;
	background-color: #1e1e1e;
}
#back_button {
	width: 80px;
	height: 80px;
	background-image: url(exit.png);
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	display: block;
	cursor: pointer;
	top: 0;
	left: -60px;
	z-index: 100;
}
.nav ul {
	margin: 0;
	padding: 36px 0 0 0;
	background-image: url(navi_top.png);
	background-size: 60px;
	background-repeat: no-repeat;
	background-position: top;
	list-style: none;
	width: 60px;
	display: block;
	position: relative;
	z-index: 100;
}
.nav ul li {
	display: inline-block;
	line-height: 70px;
	cursor: pointer;
	font-size: 16px;
}
.nav ul li a {
	display: block;
	height: 50px;
	width: 50px;
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid #fff;
}
.nav ul li:hover a {
	color: #fff;
	text-shadow: 0 0 5px #000;
}
.nav ul li a:after {
	font-size: 18px;
	position: absolute;
	line-height: 26px;
	width: 30px;
	height: 30px;
	display: block;
	margin: 10px;
	text-align: center;
	border: 2px solid #999;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav ul li.mitwirkende a:after {
	content: '4';
}
.nav ul li.collectorspace a:after {
	content: '3';
}
.nav ul li.makerspace a:after {
	content: '2';
}
.nav ul li.reflectorspace a:after {
	content: '1';
}
.nav ul li.erdgeschoss a:after {
	content: 'E';
}
.nav ul li.untergeschoss a:after {
	content: 'U';
}

section h2 {
	text-align: center;
	margin: 0;
}

section[ref='mitwirkende'] {
	background-color: #CCC;
}

section[ref='collectorspace'] {
	background-color: #EEE;
}

section[ref='makerspace'] {
	background: #CCC;
}

section[ref='reflectorspace'] {
	background: #EEE;
}
section[ref=''] {
	background-color: #CCC;
}
section[ref='impressum'] {
	background-color: #EEE;
}


.wrapper {
	max-width: 840px;
	padding: 20px 60px;
	margin: 0 auto;
}
.wrapper img {
	width: 180px;
	margin-right: 20px;
}
.exhibits {
	max-width: 840px;
	margin: 0 auto;
	position: relative;
}
.exhibits > .container {
	overflow: hidden;
	padding: 20px 0;
	border-top: 1px solid black;
}
.exhibits ul {
	margin: 0;
	padding: 0;
	list-style: none;
	left: 0;
}
.exhibits ul li {
	display: inline-block;
	margin: 10px;
	width: 150px;
	height: 150px;
}
.exhibits ul li:first-child {
	margin-left: 0;
}
.exhibits ul li:last-child {
	margin-right: 0;
}
.exhibits ul li img {
	width: 100%;
	}
.exhibits .navi {
	position: absolute;
	width: 100%;
}
.tablet .exhibits .navi {
	display: none;
}
.exhibits .navi a {
	display: block;
	width: 84px;
	height: 84px;
	margin-top: -130px;
	position: absolute;
	cursor: pointer;
}

.exhibits .navi .next {
	right: 0;
	margin-right: -100px;
	background: url(arrow-right.png);
	background-repeat: no-repeat; 
}
.exhibits .navi .prev {
	left: 0;
	left: -110px;
	background: url(arrow-left.png);
	background-repeat: no-repeat;
}



/* BUTTONS */
.button {
	color: #fff;
	display: inline-block;
	padding: 0 30px;
	line-height: 40px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	
	text-shadow: 0 -1px 1px #666666, 0 1px 1px #1e1e1e;
	
    border-radius: 5px;
	
    -moz-box-shadow:     0 0 5px #333;
    -webkit-box-shadow:  0 0 5px #333;
    box-shadow:          0 0 5px #333;
	background: #cfe7fa; /* Old browsers */

	background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
	

	

}
.button + .button {
	margin-left: 10px;
}
.button:hover {
	background: #6393c1; /* Old browsers */

	background: -moz-linear-gradient(top,  #6393c1 0%, #cfe7fa 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6393c1), color-stop(100%,#cfe7fa)); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  #6393c1 0%,#cfe7fa 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  #6393c1 0%,#cfe7fa 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  #6393c1 0%,#cfe7fa 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  #6393c1 0%,#cfe7fa 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6393c1', endColorstr='#cfe7fa',GradientType=0 ); /* IE6-9 */
	

}