
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}


#paging {
	margin: 0;
	padding: 0;
	style-type: none;
	width: 100%;
	position: relative;
	left: 0;
}

#paging section {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 100px;
}
#paging section > .container {
	position: relative;
	width: 100%;
	height: 100%;
}
#paging section > .container > div {
	width: 100%;
	height: 100%;
	position: absolute;
}
#paging section > .container .room {
	left: 100%;
	background: gray;
	overflow: scroll;
}
#paging section > .container .floor .wrapper {
	height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	position: relative;
}
#paging section > .container .scroll {
	height: 100%;
	width: 100%;
	position: absolute;
	padding-top: 155px;
	top: 0;
	left: 0;
}
#paging section > .container .scroll div {
	overflow: scroll;
	height: 100%;
	padding: 0 60px;
}

#paging section > .container .room .wrapper > h1:first-child {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 300;
}

#paging section > .container .room .wrapper > h2 {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 400;
	text-align: left;
}

#paging section > .container .room .wrapper .key-facts {
	border-left: 2px solid white; 
	height: 200px; 
	margin-left: 400px;
}

#paging section > .container .room .wrapper > div > h3 {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 300;
	text-align: left;
	margin-left: 40px;
}

#paging section:after {
	content: '';
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: -100px;
	background-color: #fff;
}
body > .container {
	width: 100%;
	height: 100%;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 70px;
	height: 100%;
	z-index: 500;
}
.nav #elevator {
	background-color: #fff;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 189px;
	z-index: 50;
}
.nav #elevator_bg {
	position: absolute;
	height: 100%;
	width: 50px;
	top: 36px;
	background-color: #1e1e1e;
}
#back_button {
	width: 70px;
	height: 70px;
	background-image: url(arrow_left.php?color=ffffff);
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	display: block;
	cursor: pointer;
	top: 50%;
	left: -60px;
	z-index: 100;
	margin-top: -35px;
}
.nav ul {
	margin: 0;
	padding: 36px 0 0 0;
	background-image: url(navi_top.png);
	background-size: 60px;
	background-repeat: no-repeat;
	background-position: top;
	list-style: none;
	width: 60px;
	display: block;
	position: relative;
	z-index: 100;
}
.nav ul li {
	display: inline-block;
	line-height: 70px;
	cursor: pointer;
	font-size: 16px;
}
.nav ul li a {
	display: block;
	height: 50px;
	width: 50px;
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid #fff;
}
.nav ul li:hover a {
	color: #fff;
	text-shadow: 0 0 5px #000;
}
.nav ul li a:after {
	font-size: 18px;
	position: absolute;
	line-height: 26px;
	width: 30px;
	height: 30px;
	display: block;
	margin: 10px;
	text-align: center;
	border: 2px solid #999;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav ul li.mitwirkende a:after {
	content: '4';
}
.nav ul li.collectorspace a:after {
	content: '3';
}
.nav ul li.makerspace a:after {
	content: '2';
}
.nav ul li.reflectorspace a:after {
	content: '1';
}
.nav ul li.erdgeschoss a:after {
	content: 'E';
}
.nav ul li.untergeschoss a:after {
	content: 'U';
}

section .floor .wrapper > h2:first-child {
	margin: 0;
	font-size: 55px;
	text-transform: uppercase;
	font-weight: 300;
}
section .floor .wrapper > h2:first-child:before {
	display: inline-block;
	text-align: center;
	height: 70px;
	width: 70px;
	line-height: 70px;
	border: 3px solid;
	border-color: #000;
	position: relative;
	border-radius: 80px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	margin-right: 20px;
}
section h2 + p {
	text-align: justify;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	-moz-column-gap: 40px;
	-webkit-column-gap: 40px;
	column-gap: 40px;
}
.tablet section h2 + p {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}
.mobile section h2 + p {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
}

section[ref='mitwirkende'] {
	background-color: #CCC;
}
section[ref='mitwirkende'] h2 {
	color:#000000;
}
section[ref='mitwirkende'] .exhibits .navi .next {
	background-image: url(arrow_right.php?color=000000);
}
section[ref='mitwirkende'] .exhibits .navi .prev {
	background-image: url(arrow_left.php?color=000000);
}
section[ref='mitwirkende'] .floor .wrapper > h2:first-child:before {
	border-color: #000;
	content: '4';
}
section[ref='mitwirkende'] .exhibits > .container {
	border-color: #000;
}

section[ref='collectorspace'] {
	background-color: #EEE;
}
section[ref='collectorspace'] h2 {
	color:#748412;
}
section[ref='collectorspace'] .exhibits .navi .next {
	background-image: url(arrow_right.php?color=748412);
}
section[ref='collectorspace'] .exhibits .navi .prev {
	background-image: url(arrow_left.php?color=748412);
}
section[ref='collectorspace'] .floor .wrapper > h2:first-child:before {
	border-color: #748412;
	content: '3';
}
section[ref='collectorspace'] .exhibits > .container {
	border-color: #748412;
}

section[ref='makerspace'] {
	background: #CCC;
}
section[ref='makerspace'] h2 {
	color: #dd7683;
}
section[ref='makerspace'] .exhibits .navi .next {
	background-image: url(arrow_right.php?color=dd7683);
}
section[ref='makerspace'] .exhibits .navi .prev {
	background-image: url(arrow_left.php?color=dd7683);
}
section[ref='makerspace'] .floor .wrapper > h2:first-child:before {
	border-color: #dd7683;
	content: '2';
}
section[ref='makerspace'] .exhibits > .container {
	border-color: #dd7683;
}

section[ref='reflectorspace'] {
	background: #EEE;
}
section[ref='reflectorspace'] h2 {
	color: #2e4f68;
}
section[ref='reflectorspace'] .exhibits .navi .next {
	background-image: url(arrow_right.php?color=2e4f68);
}
section[ref='reflectorspace'] .exhibits .navi .prev {
	background-image: url(arrow_left.php?color=2e4f68);
}
section[ref='reflectorspace'] .floor .wrapper > h2:first-child:before {
	border-color: #2e4f68;
	content: '1';
}
section[ref='reflectorspace'] .exhibits > .container {
	border-color: #2e4f68;
}

section[ref=''] {
	background-color: #CCC;
}
section[ref=''] h2 {
	font-size: 90px;
}

section[ref=''] .floor .wrapper > h2:first-child:before {
	content: 'E';
}
section[ref='impressum'] {
	background-color: #EEE;
}
section[ref='impressum'] .floor .wrapper > h2:first-child:before {
	content: 'U';
}

.wrapper {
	max-width: 840px;
	padding: 60px 60px;
	margin: 0 auto;
}

.absolute {
	position: absolute;
	width: 100%;
	bottom: 0;
}
.wrapper img {
	width: 180px;
	margin-right: 20px;
}
.exhibits {
	max-width: 840px;
	margin: 0 auto;
	position: relative;
	padding: 0 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.exhibits > .container {
	overflow: hidden;
	padding: 20px 0;
	border-top: 3px solid;
}
.exhibits ul {
	margin: 0;
	padding: 0;
	list-style: none;
	left: 0;
}
.exhibits ul li {
	display: inline-block;
	margin: 10px;
	width: 150px;
	height: 150px;
}
.exhibits ul li:first-child {
	margin-left: 0;
}
.exhibits ul li:last-child {
	margin-right: 0;
}
.exhibits ul li img {
	width: 100%;
}
.exhibits .navi {
	left: 0;
	position: absolute;
	width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 0 60px;
}
.tablet .exhibits .navi {
	display: none;
}
.exhibits .navi a {
	display: block;
	width: 50px;
	height: 50px;
	margin-top: -130px;
	position: absolute;
	cursor: pointer;
	background-size: 50px;
	background-repeat: no-repeat; 
}

.exhibits .navi .next {
	right: 0;
	margin-right: -10px;
	background-image: url(arrow_right.php?color=000000);
}
.exhibits .navi .next:hover {
	background-image: url(arrow_right.php?color=ffffff);
}
.exhibits .navi .prev {
	left: 0;
	margin-left: -10px;
	background-image: url(arrow_left.php?color=000000);
}


/* SOCIAL BUTTONS */
.social {
	width: 160px;
	margin: 0 auto;
}
.social > div {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: 40px;
	vertical-align: top;
	margin-right: 20px;
	cursor: pointer;
}
.social > div:last-child {
	margin-right: 0;
}
.social > .twitter {
	background-image: url('twitter.png');
}
.social > .facebook {
	background-image: url('facebook.png');
}
.social > .googleplus {
	background-image: url('g+.png');
}
.social iframe {
	display: none;
}